*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    padding: 10px;
}

#center{
    position: absolute;
    margin-left: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#progress{
    height: 5px;
    width: 250px;
    border-radius: 100px;
    background-color: grey;
}
h3{
    opacity: 0;
}
#val{
    height: 5px;
    width: 0px;
    border-radius: 100px;
    background-color: greenyellow;
}